openapi: 3.0.0
info:
  title: CS 챗봇 관리자 인증 Lambda API
  description: Lambda 함수용 관리자 인증 API
  version: 1.0.0

servers:
  - url: https://api.cs-chatbot.com
    description: Lambda API Gateway

paths:
  /auth/login:
    post:
      summary: 관리자 로그인
      description: 관리자 계정으로 로그인하여 JWT 토큰을 발급받습니다
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: admin
                password:
                  type: string
                  example: admin123
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                      expires_in:
                        type: integer
                        example: 3600

  /auth/verify:
    get:
      summary: 토큰 검증
      description: JWT 토큰의 유효성을 검증합니다
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 토큰 검증 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      username:
                        type: string
                        example: admin
                      userId:
                        type: string
                        example: admin

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: Authentication
    description: 관리자 인증 관련 API